body, div
{
	margin:0px;
	border:0px;
	height:100%;
	overflow:hidden;
}

html
{
	overflow:hidden;
	height:100%;
}

body
{
	font-family: 'ar_christyregular';
}

#preload
{
	font-size:50px;
	text-align:center;
	top:50%;
	width:100%;
}